main {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 1em;
  align-items: center;
}

body {
  background-color: black;
}

.friend-header button{
  margin-top:.5em;
}

.crews-box {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url(../../../public/images/Wood-Background.jpg.jpg);
  border: black 5px solid;
  box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.75);
  width: 100em;
  padding: 3em 2em;
}

.crews-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crews-header button {
    padding: .5em 2em;
    margin-bottom: 2em;
}

.crews-header h1 {
  color:white;
  text-shadow: 0.1em 0.1em black;
  font-weight: bolder;
  font-size: 40px;
}

.card-container-crews {
  display: flex;
  flex-wrap: wrap;
}

.card-crews {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1em;
  width: 30%;
  padding: .5em;
  background-color: rgb(213, 213, 138);
  box-shadow: 0px 7px 10px 4px rgba(0,0,0,0.75);
}

.card-crews h2 {
  color: black;
  text-shadow: none;
  font-weight: bolder;
  font-size: 24px
}

.card-crews p {
  color: black;
  text-shadow: none;
}

.card-crews button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: black;
  font-weight: bolder;
  margin-right: 1em;
  font-size: 16px;
}

.card-crews button:hover {
  color: red;
}

.card-content-crews {
  width: 80%;
}